.link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.wrapper {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.image {
  display: block;
  flex-shrink: 1;
  flex-basis: 380px;
}

.description {
  flex-shrink: 2;
  flex-basis: 900px;
}
