main {
  font-size: 26px;
}

.header {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 26px;
  color: #fff;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.nav {
  display: flex;
  gap: 35px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.link:hover {
  color: rgb(168, 35, 35);
}

.container {
  padding: 30px;
}
